.deliver{
    position: absolute;
    width: 1117px;
    height: 200px;
    left: 250px;
    top: 962px;
    background-color: #ffffff;

    .hikoya1{
        position: absolute;
        width: 198px;
        height: 140px;
        left: 26px;
        top: 33px;
        outline: 1px ridge rgba(7, 7, 7, 0.06);
        outline-offset: 10px;
        border-radius: 5px;
        background: none;

        img{
            position: absolute;
            left: 73px;
            top: 0;
            background: none;
        }

        h2{
            position: absolute;
            width: 122px;
            height: 28px;
            left: 38px;
            top: 68px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
            background: none;
        }

        p{
            position: absolute;
            width: 198px;
            height: 35px;
            left: 0px;
            top: 102px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            opacity: 0.6;
            background: none;
        }
    }

    .hikoya2{
        position: absolute;
        width: 198px;
        height: 137px;
        left: 263px;
        top: 35px;
        outline: 1px ridge rgba(7, 7, 7, 0.06);
        outline-offset: 10px;
        border-radius: 5px;
        background: none;
        
        img{
            position: absolute;
            left: 83px;
            top: 0;
            background: none;
        }

        h2{
            position: absolute;
            width: 147px;
            height: 28px;
            left: 25px;
            top: 65px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
            background: none;
        }

        p{
            position: absolute;
            width: 198px;
            height: 35px;
            left: 0px;
            top: 102px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            opacity: 0.6;
            background: none;
        }
    }

    .hikoya3{
        position: absolute;
        width: 198px;
        height: 139px;
        left: 552px;
        top: 33px;
        outline: 1px ridge rgba(7, 7, 7, 0.06);
        outline-offset: 10px;
        border-radius: 5px;
        background: none;

        img{
            position: absolute;
            width: 44px;
            height: 44px;
            left: 77px;
            top: 0px;
            background: none;
        }

        h2{
            position: absolute;
            width: 161px;
            height: 28px;
            left: 18px;
            top: 67px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
            background: none;
        }

        p{
            position: absolute;
            width: 198px;
            height: 35px;
            left: 0px;
            top: 104px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            opacity: 0.6;
            background: none;
        }
    }

    .hikoya4{
        position: absolute;
        width: 198px;
        height: 145px;
        left: 841px;
        top: 27px;
        outline: 1px ridge rgba(7, 7, 7, 0.06);
        outline-offset: 10px;
        border-radius: 5px;
        background: none;

        img{
            position: absolute;
            width: 54px;
            height: 54px;
            left: 72px;
            top: 0px;
            background: none;
        }

        h2{
            position: absolute;
            width: 115px;
            height: 28px;
            left: 41px;
            top: 72px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
            background: none;
        }

        p{
            position: absolute;
            width: 198px;
            height: 35px;
            left: 0px;
            top: 110px;
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #000000;
            opacity: 0.6;
            background: none;
        }
    }
}