.intro{
    position: absolute;
    width: 665px;
    height: 364px;
    left: 0px;
    top: 285px;

    .sweet{
        position: absolute;
        width: 172px;
        height: 16px;
        left: 0px;
        top: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: #0F0101;
    }

    h1{
        position: absolute;
        width: 665px;
        height: 130px;
        left: 0px;
        top: 22px;
        font-family: 'Fredoka One';
        font-style: normal;
        font-weight: 400;
        font-size: 57.33px;
        line-height: 120.5%;
        color: #0F0101;
        opacity: 0.9;

        span{
            color: #D23166;
        }
    }

    p{
        position: absolute;
        width: 523px;
        height: 78px;
        left: 0px;
        top: 371px;
        font-family: 'Hind Madurai';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #0F0101;
        opacity: 0.6;
    }

    button{
        position: absolute;
        width: 165px;
        height: 49px;
        left: 0px;
        top: 0px;
        background: #D23166;
        border: none;
        border-radius: 5px;
    }

    button p{
        position: absolute;
        width: 65px;
        height: 22px;
        left: 50px;
        top: 14px;
        font-family: 'Hind Madurai';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        background: none;
    }

    button:hover{
        cursor: pointer;
        background: #ff78a5;
        border: 1px solid #c2124d;
    }

    .bgrasm{
        position: absolute;
        width: 880px;
        height: 742.36px;
        left: 480px;
        top: -159px;
        overflow: hidden;
    }
}